RewriteEngine On
RewriteBase /
Redirect 301 / https://superalgos.org/
Redirect 301 /developers-system-modules.shtml /developers-join-dev-team.shtml
Redirect 301 /tools-superalgos-desktop-app.shtml /tools-superalgos-platform.shtml
